@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="jumbotron bg-warning">
    <h1 class="display-4">Currently in Development...</h1>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
