<nav class="navbar @NavColorCssClass bg-transparent">
    <a class="navbar-brand" href="">
        <img class="brand-img-height" src="@LogoPath" alt="Logo" />
    </a>
    <div class="@NavMenuCssClass">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">STIAHNUT</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">O APLIKACII</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">CASTE OTAZKY</NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="contact">KONTAKT</NavLink>
            </li>
            <AuthorizeView Roles="idk">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="test">Test</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="todo">TO-DO</NavLink>
                </li>
            </AuthorizeView>
        </ul>
    </div>
</nav>


@code {
    [CascadingParameter]
    private bool greenNav { get; set; }
    private string NavColorCssClass => greenNav ? "navbar-green" : "navbar-white";
    private string LogoPath => greenNav ? "/img/FV-logo-white.svg" : "/img/FV-logo-green.svg";

    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
