@page "/o-appke"
@page "/about"

<div class="container-fluid h-100 pt-md-5 pt-lg-0">
    <div class="row pb-4">
        <div class="col d-md-none">
            <h2 class="text-uppercase font-size-20 font-size-xxs-18 text-center text-green font-weight-600">pre pravých fanúšikov slovenského futbalu</h2>
        </div>
        <div class="col-12 col-md-6 align-self-lg-center mt-lg-30">
            <img class="about-hero-img d-block mx-auto" src="/img/about-hero-img.png" />
        </div>
        <div class="col-12 col-md-6 order-md-first px-0 align-self-lg-center mt-lg-30">
            <h2 class="text-uppercase font-size-20 font-size-lg-25 font-size-xl-35 text-green font-weight-600 d-none d-md-block line-height-lg-55">pre pravých fanúšikov slovenského futbalu</h2>
            <p class="font-size-12 font-size-md-14 font-size-lg-16 font-size-xl-20 font-weight-500 mt-md-3 my-lg-5 pr-md-5">
                Nezáleží či sa zaujímate o mestský alebo dedinský futbal, FutbalVille obsahuje výsledky všetkých oficiálnych zápasov odohraných na Slovensku.<br /><br />
                Vďaka možnosti pridania tímu, ligy alebo klubu do obľúbených, máte rýchly prístup k informáciám, ktoré vás zaujímajú najviac.
            </p>
            <a class="btn-green d-none d-lg-inline-block" href="/stiahnut">Stiahnuť</a>
        </div>
        <div class="col-12 text-center d-lg-none">
            <a class="btn-green" href="/stiahnut">Stiahnuť</a>
        </div>
    </div>
    <div class="row justify-content-between justify-content-lg-around mt-5" id="cont">
        <h2 class="text-green text-center font-size-18 font-size-lg-25 text-uppercase font-weight-600 w-100 mb-4 mb-lg-5">výhody a funkcie</h2>
        <div class="col-6 col-lg-3 px-0 max-w-260 max-w-lg-183">
            <div class="card border-0">
                <img class="card-img-top" src="/img/competition-icon.svg" alt="Competition Icon" />
                <div class="card-body text-center px-0">
                    <h3 class="card-title text-uppercase font-size-14 font-size-md-16 font-weight-600">Všetky ligy</h3>
                    <p class="card-text font-size-11 font-size-md-12 font-size-lg-14 font-weight-500">FutbalVille obsahuje výsledky a informácie o všetkých zápasoch odohraných na slovensku vrátane najnižších líg</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 px-0 max-w-260 max-w-lg-183">
            <div class="card border-0">
                <img class="card-img-top" src="/img/favourite-icon.svg" alt="Favourite Icon" />
                <div class="card-body text-center px-0">
                    <h3 class="card-title text-uppercase font-size-14 font-size-md-16 font-weight-600">Obľúbené</h3>
                    <p class="card-text font-size-11 font-size-md-12 font-size-lg-14 font-weight-500">Ak si pridáte ligy, tímy alebo kluby medzi obľúbené, získate rýchly prístup k informáciam, ktoré práve potrebujete</p>
                </div>
            </div>
        </div>
        <div class="w-100 d-lg-none"></div>
        <div class="col-6 col-lg-3 px-0 max-w-260 max-w-lg-183">
            <div class="card border-0">
                <img class="card-img-top" src="/img/timeline-icon.svg" alt="Timeline Icon" />
                <div class="card-body text-center px-0">
                    <h3 class="card-title text-uppercase font-size-14 font-size-md-16 font-weight-600">časová os</h3>
                    <p class="card-text font-size-11 font-size-md-12 font-size-lg-14 font-weight-500">Na časovej osi sa vám zobrazia plánované zápasy vašich obľúbených tímov na najbližšie obdobie</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 px-0 max-w-260 max-w-lg-183">
            <div class="card border-0">
                <img class="card-img-top" src="/img/notification-icon.svg" alt="Notification Icon" />
                <div class="card-body text-center px-0">
                    <h3 class="card-title text-uppercase font-size-14 font-size-md-16 font-weight-600">Notifikácie</h3>
                    <p class="card-text font-size-11 font-size-md-12 font-size-lg-14 font-weight-500">Vďaka notifikáciam už nikdy nezabudnete na zápas. Funkciu si môžte prispôsobit podľa vlastných potrieb</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-green text-center font-size-18 font-size-lg-25 text-uppercase font-weight-600 w-100 my-4 my-lg-5">režim farieb</h2>
        <div class="col-12 col-md-4 col-lg-4 px-0 mt-lg-100">
            <h3 class="font-size-14 font-size-md-16 font-size-lg-20">
                <img class="palette-img" src="/img/light-palette.svg" alt="Light Color Palette" />
                Svetlý režim
            </h3>
            <p class="font-size-12 font-size-md-14 font-size-lg-16 font-weight-500 max-w-300">Zobrazenie farieb sa mení na základe nastavenia zariadenia. Ak vaše zariadenie nepodporuje tmavý režim, aplikácia sa zobrazí vo svetlom režime.</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4 px-0">
            <img class="dark-mode-img d-block mx-auto" src="/img/dark-mode-img.png" alt="Dark mode preview" />
        </div>
        <div class="col-12 col-md-4 col-lg-4 align-self-md-end px-0 text-right mb-lg-50">
            <h3 class="font-size-14 font-size-md-16 font-size-lg-20">
                Tmavý režim
                <img class="palette-img" src="/img/dark-palette.svg" alt="Dark Color Palette" />
            </h3>
            <p class="font-size-12 font-size-md-14 font-size-lg-16 font-weight-500 max-w-300 d-inline-block mb-lg-50">Ak vaše zariadenie podporuje tmavý režim, aplikácia sa prispôsobí nastaveniu vášho zariadenia.</p>
            <div class="text-center text-md-right">
                <a class="btn-green" href="/caste-otazky">Ako zmením režim?</a>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <h2 class="text-green text-center font-size-18 font-size-lg-25 text-uppercase font-weight-600 w-100 mt-4 mt-lg-5 mb-4">Prehľad funkcií</h2>
        <div class="carousel slide mx-auto" data-pause="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item flex-wrap active">
                    <div class="carousel-caption">
                        <h5 class="text-green font-size-14 font-size-md-16 font-size-lg-18 text-uppercase">samalasl dsjfha</h5>
                        <p class="font-size-12 font-size-md-14">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-left" src="/img/casova-os.png" alt="First slide">
                    <img class="d-block col-8 mx-auto col-md-4 px-0 carousel-img" src="/img/zapas.png" alt="First slide">
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-right" src="/img/casova-os.png" alt="First slide">
                </div>
                <div class="carousel-item flex-wrap">
                    <div class="carousel-caption">
                        <h5 class="text-green">samalasl dsjfha</h5>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-left" src="/img/zapas.png" alt="Second slide">
                    <img class="d-block col-8 mx-auto col-md-4 carousel-img px-0" src="/img/casova-os.png" alt="Second slide">
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-right" src="/img/zapas.png" alt="Second slide">
                </div>
                <div class="carousel-item flex-wrap">
                    <div class="carousel-caption">
                        <h5 class="text-green">samalasl dsjfha</h5>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-left" src="/img/zapas.png" alt="Third slide">
                    <img class="d-block col-8 mx-auto col-md-4 carousel-img px-0" src="/img/casova-os.png" alt="Third slide">
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-right" src="/img/zapas.png" alt="Third slide">
                </div>
                <div class="carousel-item flex-wrap">
                    <div class="carousel-caption">
                        <h5 class="text-green">samalasl dsjfha</h5>
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-left" src="/img/casova-os.png" alt="Fourth slide">
                    <img class="d-block col-8 mx-auto col-md-4 px-0 carousel-img" src="/img/zapas.png" alt="First slide">
                    <img class="d-none d-md-block col-4 px-0 carousel-img-alternative-right" src="/img/casova-os.png" alt="Fourth slide">
                </div>
            </div>
            <ol class="carousel-indicators position-static">
                <li data-target=".carousel" data-slide-to="0" class="active"></li>
                <li data-target=".carousel" data-slide-to="1"></li>
                <li data-target=".carousel" data-slide-to="2"></li>
                <li data-target=".carousel" data-slide-to="3"></li>
            </ol>
            <a class="carousel-control-prev" href=".carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href=".carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

@code {

}
