@page "/download"

<div class="d-flex h-100">
    <div class="container-fluid align-self-md-center">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center justify-content-md-start">
                <div class="download-container py-20">
                    <div class="text-center mb-3">
                        <img class="download-os-logo" src="/img/apple-logo.svg" alt="Apple Logo" />
                        <h2 class="d-inline-block font-size-16 font-size-md-18 font-weight-500 align-bottom">iOS</h2>
                    </div>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">1. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Otvorte App Store aplikáciu na vašom zariadení<br />Do vyhľadávania zadajte názov “FutbalVille”<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">2. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Kliknite na toto tlačidlo na vašom mobilnom zariadení<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <a href="https://apps.apple.com/us/app/futbalville/id1502079522?ls=1" target="_blank">
                        <img class="download-store-logo mx-auto d-block" src="/img/appstore-icon.png" alt="App Store logo" />
                    </a>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">3. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Zoskenujte QR kód pomocou mobilu<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <img class="download-qr mx-auto d-block" src="/img/QR-iOS.png" alt="QR code" />
                </div>
            </div>
            <div class="col-4 d-none d-xl-block">
                <img class="download-phone-img" src="/img/angle-phone.png" alt="Phone screen preview" />
            </div>
            <div class="col-12 col-md-6 col-xl-4 d-flex justify-content-center justify-content-md-end">
                <div class="download-container py-20">
                    <div class="text-center mb-3">
                        <img class="download-os-logo" src="/img/android-logo.svg" alt="Android Logo" />
                        <h2 class="d-inline-block font-size-16 font-size-md-18 font-weight-500 align-bottom">ANDROID</h2>
                    </div>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">1. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Otvorte Obchod Play aplikáciu na vašom zariadení<br />Do vyhľadávania zadajte názov “FutbalVille”<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">2. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Kliknite na toto tlačidlo na vašom mobilnom zariadení<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <a href="https://play.google.com/store/apps/details?id=com.vitvasak.FutbalVille" target="_blank">
                        <img class="download-store-logo mx-auto d-block" src="/img/playstore-icon.png" alt="Play Store logo" />
                    </a>
                    <h3 class="font-size-14 font-size-md-16 font-weight-500">3. Spôsob</h3>
                    <p class="font-size-12 font-size-md-14">Zoskenujte QR kód pomocou mobilu<br />Kliknite na tlačidlo pre stiahnutie</p>
                    <img class="download-qr mx-auto d-block" src="/img/QR-android.png" alt="QR code" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
