@page "/caste-otazky"
@page "/faq"

<div class="container mt-3 mt-md-5">
    <div class="row">
        <div class="col-12 col-lg-8 px-0">
            <div id="accordion">
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q1">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a1" aria-expanded="false" aria-controls="a1">
                            Aké zápasy viem nájsť v aplikácii?
                        </button>
                    </div>
                    <div id="a1" class="collapse" aria-labelledby="q1" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille aplikácia je zameraná výlučne na slovenské ligy. Ako prvá aplikácia však prináša rýchly prístup k výsledkom zápasov aj z tých najnižších líg.<br>
                            V aplikácii môžete nájsť výsledky všetkých odohraných zápasov v rámci Slovenska. <br>
                            <br>
                            Výsledky sú dostupné hneď po dokončení zápasu.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q2">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a2" aria-expanded="false" aria-controls="a2">
                            Ako zmením štýl na tmavý/Svetlý?
                        </button>
                    </div>
                    <div id="a2" class="collapse" aria-labelledby="q2" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Ak zariadenie podporuje tmavý režim (iOS 13+ alebo Android 10+), režim sa nastaví automaticky podľa zariadenia. Ak zariadenie tmavý režim nepodporuje
                            alebo nechcete používať systémové <strong>nastavenia</strong>, kliknite na nastavenia v dolnej lište aplikácie. V kategórii <strong>Tmavý režim</strong>
                            potom vypnite prepínač <strong>Použiť systémové nastavenia</strong> a prepínačom <strong>Zapnúť tmavý režim</strong> si nastavíte režim aplikácie.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q3">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a3" aria-expanded="false" aria-controls="a3">
                            ako používať sekciu obľúbené?
                        </button>
                    </div>
                    <div id="a3" class="collapse" aria-labelledby="q3" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Keďže aplikácia obsahuje informácie o veľkom množstve tímov, klubov a líg, pre jednoduchšie a rýchlejšie vyhľadávanie je možné pridať si ich medzi <strong>obľúbené</strong>. <br>
                            <br>
                            Jednoducho nájdite svoj obľúbený tým, klub alebo ligu v sekcii <strong>Hľadať</strong> a kliknite na ikonu srdiečka vedľa názvu. <br>
                            <br>
                            Všetky obľúbené môžete nájsť na spodnej lište pod ikonou srdiečka a uľahčiť si tak prístup k často navštevovaným položkám.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q4">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a4" aria-expanded="false" aria-controls="a4">
                            Ako nastaviť notifikácie?
                        </button>
                    </div>
                    <div id="a4" class="collapse" aria-labelledby="q4" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Pri prvom spustení vás aplikácie požiada o povolenie na zasielanie notifikácií. <br>
                            V prípade, že ste zamietli povolenie no napriek tomu chcete dostávať upozornenia o začínajúcom zápase, je možné zmeniť toto obmedzenie v nastaveniach zariadenia, kde je potrebné povoliť aplikácii FutbalVille zobrazovanie bannerov/notifikácii. <br>
                            <br>
                            Pre zmenu alebo rýchle vypnutie notifikácii kliknite na <strong>nastavenia</strong> v dolnej lište aplikácie. V tejto sekcii je možné vypnúť alebo zapnúť notifikácie prepínačom <strong>Povoliť notifikácie</strong> a nastaviť koľko minút pred začatím zápasu chcete byť upozornený v políčku <strong>Upozornenie pred zápasom</strong>. <br>
                            <br>
                            Upozornenia sa vzťahujú len na položky zo sekcie <strong>Obľúbené</strong>.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q5">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a5" aria-expanded="false" aria-controls="a5">
                            Ako vyhľadávať?
                        </button>
                    </div>
                    <div id="a5" class="collapse" aria-labelledby="q5" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille poskytuje dva spôsoby ako vyhľadávať obsah: <br>
                            <br>

                            <b>1.</b>	Cez sekciu <strong>Súťaže</strong> na spodnej lište aplikácie. <br>
                            Tento spôsob môže byť zdĺhavejší ale je vhodný ak neviete presný názov súťaže ale viete kde ju hľadať. Vďaka zväzom a podzväzom sa viete dostať k všetkým súťažiam.
                            <br />
                            <br />
                            <b>2.</b>	Cez sekciu Hľadať na spodnej lište aplikácie. <br>
                            Ak viete presne čo hľadáte, kliknite na <strong>Hľadať</strong>, zadajte názov tímu, klubu, ligy alebo meno hráča a následne si vyberte
                            čo chcete hľadať z možností <strong>Ľudia</strong>, <strong>Kluby</strong>, <strong>Súžaže</strong> alebo <strong>Zväzy</strong>.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q6">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a6" aria-expanded="false" aria-controls="a6">
                            Ako nahlásim chybu v aplikácii?
                        </button>
                    </div>
                    <div id="a6" class="collapse" aria-labelledby="q6" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille je nová aplikácia spustená v roku 2020 a stále sa pracuje na jej zlepšovaní. <br>
                            Ak ste sa stretli s akýmkoľvek problémom alebo máte pripomienku k fungovaniu aplikácie, kliknite na <strong>Nastavenia</strong> v spodnej lište aplikácie a v sekcii <strong>Napíš nám</strong> zadajte text vašej pripomienky. <br>
                            Vaša správa bude anonymná<br>
                            <br>
                            Zaslaním pripomienok pomáhate vytvoriť lepšiu aplikáciu nie len pre vás ale aj pre ostatných futbalových fanúšikov.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 px-0 pl-lg-4 pt-4 pt-md-5 pt-lg-0 pl-xl-5 text-center text-md-left">
            <h3 class="font-size-16 font-size-md-18 text-left">Nenašli ste čo ste hľadali?</h3>
            <p class="font-size-12 font-size-md-16 text-left">Ak ste odpoveď na vašu otázku nenašli, neváhajte ma kontaktovať</p>
            <a class="btn-green d-md-inline-block mx-auto" href="/kontakt">Kontaktujte ma</a>
        </div>
    </div>
</div>
@code {
}
