@page "/caste-otazky"
@page "/faq"

<div class="container mt-3 mt-md-5">
    <div class="row">
        <div class="col-12 col-lg-8 px-0">
            <div id="accordion">
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q1">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a1" aria-expanded="false" aria-controls="a1">
                            Aké zápasy viem nájsť v aplikácii?
                        </button>
                    </div>
                    <div id="a1" class="collapse" aria-labelledby="q1" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille aplikácia je zameraná výlučne na slovenské ligy. Ako prvá aplikácia však prináša rýchly prístup k výsledkom zápasov aj z tých najnižších líg.<br>
                            V aplikácii môžeš nájsť výsledky všetkých odohraných zápasov v rámci Slovenska. <br>
                            <br>
                            Výsledky sú dostupné hneď po dokončení zápasu.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q2">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a2" aria-expanded="false" aria-controls="a2">
                            Ako zmením štýl na tmavý/Svetlý?
                        </button>
                    </div>
                    <div id="a2" class="collapse" aria-labelledby="q2" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Farba a štýl aplikácie sa prispôsobuje nastaveniu tvojho zariadenia. To znamená, že ak tvoje zariadenie podporuje túto zmenu, je možné to nastaviť v nastaveniach zariadenia zvyčajne pod nastavením displeja a zobrazenia. Zmena tohto nastavenia môže ovplyvniť aj iné aplikácie. <br>
                            <br>
                            V prípade, že tvoje zariadenie nepodporuje tmavý režim, aplikácia sa zobrazí v základnom svetlom režime.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q3">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a3" aria-expanded="false" aria-controls="a3">
                            ako používať sekciu obľúbené?
                        </button>
                    </div>
                    <div id="a3" class="collapse" aria-labelledby="q3" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Keďže aplikácia obsahuje informácie o veľkom množstve tímov, klubov a líg, pre jednoduchšie a rýchlejšie vyhľadávanie je možné pridať si ich medzi obľúbené. <br>
                            <br>
                            Jednoducho nájdi svoj obľúbený tým, klub alebo ligu cez vyhľadávanie a klikni na ikonu srdiečka vedľa názvu. <br>
                            <br>
                            Všetky obľúbené môžeš nájsť na spodnej lište pod ikonou srdiečka a uľahčiť si tak prístup k často navštevovaným položkám.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q4">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a4" aria-expanded="false" aria-controls="a4">
                            Ako nastaviť notifikácie?
                        </button>
                    </div>
                    <div id="a4" class="collapse" aria-labelledby="q4" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            Pri inštalovaní aplikácie si požiadaný o povolenie na zasielanie notifikácií. <br>
                            V prípade, že si zamietol povolenie no napriek tomu chceš dostávať upozornenia o začínajúcom zápase, je možné zmeniť toto obmedzenie v nastaveniach zariadenia, kde je potrebné povoliť aplikácii FutbalVille zobrazovanie bannerov/notifikácii. <br>
                            <br>
                            Pre zmenu alebo rýchle vypnutie notifikácii klikni na nastavenia v dolnej lište aplikácie. V tejto sekcii je možné vypnúť alebo zapnúť notifikácie a nastaviť koľko minút pred začatím zápasu chceš byť upozornený. <br>
                            <br>
                            Upozornenia sa vzťahujú len na položky zo sekcie Obľúbené.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q5">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a5" aria-expanded="false" aria-controls="a5">
                            Ako vyhľadávať?
                        </button>
                    </div>
                    <div id="a5" class="collapse" aria-labelledby="q5" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille poskytuje dva spôsoby ako vyhľadávať obsah: <br>
                            <br>

                            <b>1.</b>	Cez sekciu Súťaže na spodnej lište aplikácie. <br>
                            Tento spôsob môže byť zdĺhavejší ale je vhodný ak nevieš presný názov súťaže ale vieš kde ju hľadať. Vďaka zväzom a podzväzom sa vieš dostať k všetkým súťažiam.
                            <br />
                            <br />
                            <b>2.</b>	Cez sekciu Hľadať na spodnej lište aplikácie. <br>
                            Ak vieš presne čo hľadáš, zadaj názov tímu, klubu, ligy alebo meno hráča do textového rámčeka a následne si vyber v ktorej kategórii vyhľadávaš, kliknutím na tlačidlo pod textovým rámčekom.
                        </div>
                    </div>
                </div>
                <div class="card faq-question-card border-top">
                    <div class="card-header faq-question-header px-0 py-0" id="q6">
                        <button class="faq-question-button d-flex justify-content-between px-0 px-md-4 py-3 text-left align-items-center w-100 font-size-14 font-size-md-18" data-toggle="collapse" data-target="#a6" aria-expanded="false" aria-controls="a6">
                            Ako nahlásim chybu v aplikácii?
                        </button>
                    </div>
                    <div id="a6" class="collapse" aria-labelledby="q6" data-parent="#accordion">
                        <div class="card-body font-size-12 font-size-md-14 px-0 px-md-65 pt-0">
                            FutbalVille je nová aplikácia spustená v roku 2020 a stále sa pracuje na jej zlepšovaní. <br>
                            Ak si sa stretol s akýmkoľvek problémom alebo máš pripomienku k fungovaniu aplikácie, klikni na Nastavenia v spodnej lište aplikácie a v sekcii Napíš nám zadaj text svojej pripomienky. <br>
                            Tvoja správa bude anonymná<br>
                            <br>
                            Zaslaním pripomienok pomáhaš vytvoriť lepšiu aplikáciu nie len pre seba ale aj pre ostatných futbalových fanúšikov.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 px-0 pl-lg-4 pt-4 pt-md-5 pt-lg-0 pl-xl-5 text-center text-md-left">
            <h3 class="font-size-16 font-size-md-18 text-left">Nenašiel si čo si hľadal?</h3>
            <p class="font-size-12 font-size-md-16 text-left">Ak si odpoveď na svoju otázku nenašiel, neváhaj ma kontaktovať</p>
            <a class="btn-green d-md-inline-block mx-auto" href="/kontakt">Kontaktuj ma</a>
        </div>
    </div>
</div>
@code {
}
