@page "/"

<div class="d-flex h-100">
    <div class="container-fluid align-self-md-center">
        <div class="row">
            <div class="col-md-12 pb-5 d-none d-md-block d-lg-none order-first">
                <h1 class="text-white font-size-30 font-size-md-55 font-weight-600 text-center">FutbalVille</h1>
            </div>
            <div class="col-12 offset-md-1 offset-lg-1 col-md-5 col-lg-7 mb-50 order-md-last d-flex flex-column">
                <div class="row f-1 f-md-0 f-lg-50">
                    <div class="col d-md-none d-lg-block px-0">
                        <h1 class="text-white font-size-30 font-size-md-55 font-weight-600 text-center text-md-left">FutbalVille</h1>
                    </div>
                </div>
                <div class="row f-1 f-lg-50">
                    <div class="col px-0 pr-md-3">
                        <p class="font-size-xxs-14 font-size-16 font-size-md-18 font-size-lg-20 text-white font-weight-500 text-center text-md-left">Prvá mobilná aplikácia s výsledkami všetkých futbalových líg na Slovensku</p>
                    </div>
                </div>
                <div class="row f-2 f-md-2 f-lg-1">
                    <div class="col d-flex d-md-block d-lg-flex px-0 index-row-width mx-auto">
                        <div class="col-4 col-md-12 col-lg-4 px-0">
                            <p class="font-size-14 font-size-md-18 text-white mb-0 line-height-list font-weight-500">✓ Výsledky<br />✓ Štatistiky<br /> ✓ Tabuľky</p>
                        </div>
                        <div class="col-8 col-md-12 col-lg-8 px-0 d-flex justify-content-end justify-content-md-start">
                            <p class="font-size-14 font-size-md-18 text-white line-height-list font-weight-500">✓ Informácie o zápase<br /> ✓ Informácie o hráčoch<br /> ✓ Upozornenie o zápase</p>
                        </div>
                    </div>

                </div>
                <div class="row f-0 f-md-1 f-lg-75">
                    <div class="col text-center text-md-left px-0 d-none d-md-block">
                        <a href="/o-appke" class="btn-white">Zistiť viac</a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col px-0 d-flex index-row-width mx-auto align-self-end justify-content-between justify-content-md-start">
                        <a href="https://apps.apple.com/us/app/futbalville/id1502079522?ls=1" target="_blank" rel="noreferrer">
                            <img class="store-img-width mr-md-2 mr-lg-4" src="/img/appstore-icon.png" alt="App Store logo" />
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.vitvasak.FutbalVille" target="_blank" rel="noreferrer">
                            <img class="store-img-width" src="/img/playstore-icon.png" alt="Play Store logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-50 px-0 order-md-first">
                <img class="index-img mx-auto mx-md-0 d-block" src="/img/match-texas.png" alt="Phone screen preview" />
            </div>
            <div class="col-12 text-center text-md-left d-md-none mb-3">
                <a href="/o-appke" class="btn-white">Zistiť viac</a>
            </div>
        </div>
    </div>
</div>

