@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --main-padding: 0 30px;
    --green-color: #65B17F;
    --green-bg-color: #1B6E37;
    --grey-color: #efefef;
    --green-shadow-color: #ace2bf;
    --white-shadow-color: #b4b4b4;
    --green-pressed-color: #1B6E37;
    --white-pressed-color: #e0e0e0;
    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-30: 1.875rem;
    --font-size-55: 3.4375rem;
    --max-width: 1280px;
}

/*=======================================================GENERAL===============================================================*/
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    -ms-overflow-style: none;
}

    body::-webkit-scrollbar {
        display: none;
    }

app {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    min-height: 100vh;
    flex: 1;
    padding-top: 75px;
}

.content {
    width: 100%;
    max-width: var(--max-width);
    padding: var(--main-padding);
    padding-bottom: 40px;
}

/*=======================================================FOOTER=================================================================*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--main-padding);
    max-width: var(--max-width);
}

/*====================================================BACKGROUNDS=================================================================*/
.bg-green-image {
    background: url(../img/FV-index-bg.png);
    background-color: var(--green-bg-color);
    background-size: cover;
    background-position: 80%;
}

.bg-waves-top {
    background: url(../img/bg-waves.png);
    background-repeat: no-repeat;
    background-size: 100% 13%;
}

.bg-green-gradient {
    background: linear-gradient(180deg, #65B17F 0%, #2C914F 100%) 0% 0% no-repeat padding-box;
}

/*======================================================NAVBAR====================================================================*/
.navbar {
    padding: var(--main-padding);
    position: absolute;
    padding-top: 10px;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 60px;
    max-width: var(--max-width);
    transition: background-color 0.85s ease-in-out;
}

.nav-link {
    color: var(--green-color) !important;
    padding: 5px !important;
    font-size: var(--font-size-14);
    border-bottom: solid 1px transparent;
    transition: border-bottom 0.35s ease-out;
}

    .nav-link.active {
        border-top: solid 1px var(--green-color);
        border-bottom: solid 1px var(--green-color);
        color: var(--green-color) !important;
    }

.navbar-green .nav-link {
    color: white !important;
}

    .navbar-green .nav-link:hover {
        border-bottom: solid 1px white;
    }

    .navbar-green .nav-link.active {
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        color: white !important;
    }

.navbar-white .nav-link {
    color: var(--green-color) !important;
    display: unset;
}

    .navbar-white .nav-link.active {
        border-top: solid 1px var(--green-color);
        border-bottom: solid 1px var(--green-color);
        color: var(--green-color) !important;
    }

    .navbar-white .nav-link:hover {
        border-bottom: solid 1px var(--green-color);
    }

.brand-img-height {
    height: 37px;
}

.navbar-toggler {
    background-color: transparent;
    min-width: unset;
    border-radius: 0;
    padding: 0;
}

    .navbar-toggler:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--white-shadow-color);
    }

.navbar-toggler-green:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--green-shadow-color);
}

.toggler-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.35s ease-out;
}

.toggler-rotate {
    transform: rotate(45deg);
    transition: transform 0.35s ease-out;
}

/*====================================================BUTTONS,LINKS================================================*/
button, a.btn-green, a.btn-white {
    display: inline-block;
    border-radius: 11px;
    font-size: var(--font-size-16);
    min-width: 100px;
    font-weight: 500;
    text-decoration: none;
    padding: 4px 15px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-green {
    border: 2px solid var(--green-color);
    color: var(--green-color);
    background-color: transparent;
}

    .btn-green:hover:not(:disabled) {
        background-color: var(--green-color);
        color: white;
    }

    .btn-green:disabled {
        border-color: #888888;
        color: #888888;
    }

    .btn-green:active:not(:disabled) {
        background-color: var(--green-pressed-color);
        border-color: var(--green-pressed-color);
    }

    .btn-green:focus {
        outline: none;
        box-shadow: 0 0 0 3px var(--green-shadow-color);
    }

.btn-white {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

    .btn-white:hover {
        background-color: white;
        color: #65B17F;
    }

    .btn-white:disabled {
        border-color: #888888;
        color: #888888;
    }

    .btn-white:active {
        background-color: var(--white-pressed-color);
        border-color: var(--white-pressed-color);
    }

    .btn-white:focus {
        outline: none;
        box-shadow: 0 0 0 3px var(--white-shadow-color);
    }

a {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.extra-link {
    text-decoration: underline;
    font-size: var(--font-size-14);
}

    .extra-link:hover {
        color: lightgreen !important;
    }

/*================================================CONTACT PAGE========================================================*/
.contact-container {
    height: 760px;
}

.contact-back-box {
    width: 80%;
    height: 100%;
    z-index: 0;
    box-shadow: 4px 4px 6px #00000029;
}

.contact-back-paragraph {
    max-width: 300px;
}

.contact-form-container {
    right: 15px;
    bottom: 10px;
    width: 85%;
    background-color: var(--grey-color);
    box-shadow: 4px 4px 6px #00000029;
}

.contact-form-control {
    border: 1px solid transparent;
}

    .contact-form-control:focus {
        border: 1px solid var(--green-color);
        box-shadow: 0 0 0 2px var(--green-shadow-color);
    }

/*===============================================DONWLOAD PAGE========================================================*/
.download-container {
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.download-os-logo {
    height: 37px;
}

.download-store-logo {
    width: 100px;
    margin-bottom: 15px;
}

.download-qr {
    width: 100px;
}

.download-phone-img {
    width: 430px;
    position: relative;
    right: 50px;
}

/*==================================================UTILITY============================================================*/
.text-green {
    color: var(--green-color) !important;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-20 {
    font-size: var(--font-size-20);
}

.font-size-18 {
    font-size: var(--font-size-18);
}

.font-size-16 {
    font-size: var(--font-size-16);
}

.font-size-14 {
    font-size: var(--font-size-14);
}

.font-size-12 {
    font-size: var(--font-size-12);
}

.font-size-10 {
    font-size: var(--font-size-10);
}

.font-size-30 {
    font-size: var(--font-size-30);
}

.font-size-55 {
    font-size: var(--font-size-55);
}

.f-0 {
    flex: 0;
}

.f-1 {
    flex: 1;
}

.f-2 {
    flex: 2;
}

.mb-50 {
    margin-bottom: 50px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.max-w-700 {
    max-width: 700px;
}

/*===================================================INDEX PAGE======================================================*/
.store-img-width {
    width: 140px;
}

.index-img {
    max-width: 100%;
    max-height: 600px;
}

.index-row-width {
    min-width: 260px;
    max-width: 350px;
}

.line-height-list {
    line-height: 30px;
}

/*=================================================FORM VALIDATION===================================================*/
.valid.modified:not([type=checkbox]) {
    box-shadow: 0 0 0 1px var(--green-color);
}

.invalid {
    box-shadow: 0 0 0 1px red;
}

.validation-message {
    color: red;
}

/*===================================================BLAZOR===============================================================*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*-------------------------------------------------MOBILE-----------------------------------------------------------*/
@media (max-width: 767px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

        .navbar .navbar-brand {
            margin-left: 30px;
        }

        .navbar .navbar-toggler {
            margin-right: 30px;
        }

    .bg-nav-green {
        background-color: #317b4a;
    }

    .bg-nav-white {
        background-color: white;
    }

    .nav-collapse {
        transform: scale(1,1);
        transition: transform 0.35s ease-out;
        transform-origin: top;
    }

    .nav-collapsed {
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.35s ease-in;
        overflow: hidden;
        position: relative;
    }

    .nav-shadow {
        box-shadow: 0px 5px 6px #00000029;
    }

    .w-xs-50 {
        width: 50%;
    }

    .w-xs-100 {
        width: 100%;
    }

    .font-size-xs-20 {
        font-size: var(--font-size-20);
    }

    .font-size-xs-18 {
        font-size: var(--font-size-18);
    }

    .font-size-xs-16 {
        font-size: var(--font-size-16);
    }

    .font-size-xs-14 {
        font-size: var(--font-size-14);
    }

    .font-size-xs-12 {
        font-size: var(--font-size-12);
    }

    .font-size-xs-10 {
        font-size: var(--font-size-10);
    }
}

/*-------------------------------------------------XS MOBILE------------------------------------------------*/
@media (max-width: 350px) {
    :root {
        --main-padding: 0 15px;
    }

    .navbar .navbar-brand {
        margin-left: 15px;
    }

    .navbar .navbar-toggler {
        margin-right: 15px;
    }

    .font-size-xxs-14 {
        font-size: var(--font-size-14);
    }

    .store-img-width {
        width: 115px;
    }
}

/*-------------------------------------------------TABLET---------------------------------------------------*/
@media (min-width: 768px) {
    :root {
        --main-padding: 0 70px;
    }

    .bg-waves-top {
        background-size: 100% 35%;
    }

    .bg-md-transparent {
        background-color: transparent !important;
    }

    .navbar {
        height: 75px;
        padding-top: 0;
    }

        .navbar .collapse {
            display: block;
        }

    .line-height-list {
        line-height: 38px;
    }

    .brand-img-height {
        height: 50px;
    }

    .store-img-width {
        width: 115px;
    }

    .contact-container {
        height: 550px;
    }

    .contact-back-box {
        top: 50%;
        bottom: 50%;
        margin-top: auto;
        margin-bottom: auto;
        width: 220px;
        height: 350px;
        z-index: 1;
    }

    .contact-back-paragraph {
        max-width: 300px;
    }

    .contact-form-container {
        right: 15px;
        bottom: 0;
        width: unset;
        left: 100px;
        padding-left: 135px;
    }

    .font-size-md-55 {
        font-size: var(--font-size-55);
    }

    .font-size-md-30 {
        font-size: var(--font-size-30);
    }

    .font-size-md-20 {
        font-size: var(--font-size-20);
    }

    .font-size-md-18 {
        font-size: var(--font-size-18);
    }

    .font-size-md-16 {
        font-size: var(--font-size-16);
    }

    .font-size-md-14 {
        font-size: var(--font-size-14);
    }

    .font-size-md-12 {
        font-size: var(--font-size-12);
    }

    .font-size-md-10 {
        font-size: var(--font-size-10);
    }

    .px-md-25 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .py-md-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .f-md-0 {
        flex: 0;
    }

    .f-md-1 {
        flex: 1;
    }

    .f-md-2 {
        flex: 2;
    }

    .navbar-toggler {
        display: none;
    }
}

/*-------------------------------------------------LAPTOP---------------------------------------------------*/
@media(min-width: 992px) {
    :root {
        --main-padding: 0 130px;
    }

    .contact-back-box {
        width: 300px;
    }

    .contact-form-container {
        padding-left: 215px;
    }

    .font-size-lg-20 {
        font-size: var(--font-size-20);
    }

    .font-size-lg-18 {
        font-size: var(--font-size-18);
    }

    .font-size-lg-16 {
        font-size: var(--font-size-16);
    }

    .font-size-lg-14 {
        font-size: var(--font-size-14);
    }

    .font-size-lg-12 {
        font-size: var(--font-size-12);
    }

    .font-size-lg-10 {
        font-size: var(--font-size-10);
    }

    .f-lg-1 {
        flex: 1;
    }

    .f-lg-50 {
        flex: 0.50;
    }

    .f-lg-75 {
        flex: 0.75;
    }

    .line-height-list {
        line-height: 45px;
    }

    .store-img-width {
        width: 140px;
    }

    .index-row-width {
        min-width: 260px;
        max-width: unset;
    }
}
